:root {
    --color-bg: #222;
    --color-fg: #ccc;
    --color-ba: #000;
    --color-fa: #fff;
    --color-pa: #b00020;
    --color-sa: yellow;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    
    font-family: Arial;
    text-transform: uppercase;
    color: var(--color-fg);
}

main {
    background-color: var(--color-bg);
}

nav {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    place-items: center;
    
    height: 50px;
    background-color: var(--color-ba);
}

nav > a {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-pa);
}

a.active-nav {
    background-color: var(--color-pa);
    color: var(--color-fg);
}