.row-label {
    font-size: 1rem;
}

.row-image:before {
    content: '';
    width: 0;
    height: 100%;
    border: 1px solid var(--color-bg);
    margin-right: 12px;
}

.row-date {
    padding-top: 2px;
    color: var(--color-ft);
}

.row-image {
    color: var(--color-bt);
}

header {
    position: sticky;
    top: 0;
    padding: 20px 0;
    background-color: var(--color-bg);
    border-radius: 0 0 20px 20px;    
}

header > span {
    font-size: 0.75rem;
}

input[type='button'] {
    background-color: var(--color-ba);
    border-color: var(--color-fg);
    color: var(--color-fg);
    padding: 5px 15px;    
    cursor: pointer;
    margin-left: 5px;
}

button {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5px;
    place-items: center;
    border-radius: 10px;
    background-color: var(--color-bg);
    border-color: var(--color-ba);
    padding: 5px 15px;
    color: var(--color-ft);
    text-transform: uppercase;
    font-weight: bold;
}

button:first-child {
    color: var(--color-success);
}

button:last-child {
    color: var(--color-fg);
}

dialog {
    background-color: var(--color-fg);  
    border: none !important;
    border-radius: 25px;
    box-shadow: 0 0 #000, 0 0 #000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    margin: 4rem auto;
    padding: 1rem 2rem;
    min-width: 400px;
}

dialog::backdrop {
    background-color: rgba(0,0,0,0.3);
}

dialog > div {
    display: flex;
    justify-content: space-between;
}

dialog > form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
}

dialog > form > label {
    grid-column: 1;
}

dialog > form > input, 
dialog > form > select {
    grid-column: 2;    
}

main > button {
    background-color: var(--color-ba);
    margin: 2rem auto;    
}