.row-label {
    font-size: 1rem;
}

.row-date {
    padding-top: 2px;
    color: gray;
}

.row-image {
    color: black;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.5fr;
    padding: 10px;
    padding-bottom: 20px;    
}

header > span {
    font-size: 0.75rem;
    align-self: center;
    justify-self: center;
}

header > .stat-value {
    font-size: 3rem;
    font-weight: bold;
}

dialog {
    background-color: #fff;  
    border: none !important;
    border-radius: 25px;
    box-shadow: 0 0 #000, 0 0 #000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    margin: 4rem auto;
    padding: 1rem 2rem;
    min-width: 400px;
}

dialog::backdrop {
    background-color: rgba(0,0,0,0.7);
}

dialog > div,
dialog > form {
    display: flex;
    justify-content: space-between;
}

dialog > form {
    padding: 40px 0;
}

input[type="date"] {
    width: 200px;
}

form:hover,
form:active {
    background-color: whitesmoke;
}
