header {
    display: grid;
    grid-template-columns: 2.75fr 2.25fr;
    grid-template-rows: 2.5fr 0.5fr;
    padding: 10px;
    padding-bottom: 20px;
}

header > .days-sick-label {
    grid-row: 1 / span 2;
    grid-column: 1;
    align-self: end;
    justify-self: center;
    font-size: 3.5rem;
    font-weight: bold;
}

header > .days-sick-value {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    justify-self: center;
    font-size: 3.4rem;
    font-weight: bold;
}

header > .last-sick-value {
    grid-row: 2;
    grid-column: 2;
    align-self: end;
    justify-self: center;
    font-size: 0.6rem;
    font-weight: bold;
    white-space: nowrap;
}

#goodUI {
    display: none;
}

#sickUI {
    display: block;
}

#sickUI textarea {
    width: 100%;
    height: 5rem;
    padding: 10px;    
}

#sickUI .btn {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
}

#sickUI .btn:last-child {
    background-color: #555;
}

.mood {
    cursor: pointer;
    box-shadow: 0px 4px 8px #eee;
}

#goodUI .mood-image {
    font-size: 8rem;
    padding: 60px;
    padding-bottom: 10px;
}

#goodUI .mood-label {
    font-size: 0.8rem;
    font-weight: 900;
    padding-bottom: 50px;
}

#sickUI .mood-image {
    font-size: 3rem;
    padding: 20px 10px;
}

#sickUI .mood-label {
    font-size: 0.7rem;
    font-weight: 900;
}

#sickUI .mood {
    border-radius: 10px;
    padding: 5px 15px;
}

#sickUI .mood-active {
    color: red;
    background-color: #eee;
}
