header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
    place-items: center;
    background-color: var(--color-ba);
    padding: 20px 5px 0px 5px;
    border-radius: 0 0 20px 20px;
}

header > .days-sick-label {
    grid-row: 1;
    grid-column: 1;
    justify-self: end;
    font-size: 3rem;
    font-weight: 800;
}

header > .days-sick-value {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    color: var(--color-pa);
    font-size: 3rem;
    font-weight: 800;
}

header > .last-sick {
    grid-row: 2;
    grid-column: 2;
    font-size: .7rem;
    font-weight: 900;    
    padding: 5px;
}

header > .last-sick > .last-sick-label {
    color: var(--color-fg);
}

.content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    place-items: center;
}

.content-body > span {
    font-size: 8rem;
    padding: 60px;
}

.content-footer > input {
    margin: 0 10px;
    padding: 10px 30px;
    background-color: var(--color-fg);
    color: var(--color-ba);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.content-footer > input:first-child {
    background-color: var(--color-ba);
    color: var(--color-fg);
}

.content-footer > input:last-child {
    background-color: var(--color-pa);
    color: var(--color-fg);
}