header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content;
    place-items: center;
    background-color: var(--color-ba);
    padding: 20px 5px 0px 5px;
    border-radius: 0 0 20px 20px;
}

header > .days-sick-label {
    grid-row: 1;
    grid-column: 1;
    justify-self: end;
    font-size: 3rem;
    font-weight: 800;
}

header > .days-sick-value {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    color: var(--color-ft);
    font-size: 3rem;
    font-weight: 800;
}

header > .last-sick {
    grid-row: 2;
    grid-column: 2;
    font-size: .7rem;
    font-weight: 900;    
    padding: 5px;
}

header > .last-sick > .last-sick-label {
    color: var(--color-fg);
}

#goodUI {
    display: none;
}

#sickUI {
    display: block;
}

#sickUI input {
    padding: 10px 20px;
    background-color: var(--color-bg);
    color: var(--color-fg);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;    
}

#goodUI input {
    padding: 10px 20px;
    background-color: var(--color-ba);
    color: var(--color-fg);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

#goodUI input:last-child {
    background-color: var(--color-bt);
}

.mood {
    cursor: pointer;
}

#goodUI .mood-image {
    font-size: 8rem;
    padding: 60px;
    padding-bottom: 10px;
}

#goodUI .mood-label {
    font-size: 0.8rem;
    font-weight: 900;
    padding-bottom: 50px;
}

#sickUI .mood-image {
    font-size: 3rem;
    padding: 10px 0px;
}

#sickUI .mood-label {
    font-size: 0.7rem;
    font-weight: 900;
}

#sickUI .mood {
    border-radius: 10px;
    padding: 5px 15px;
}

#sickUI .mood-active {
    background-color: var(--color-bt);
}
